.footer-container {

    background-color: #1e1e1e;
    .footer {
        padding-inline: 35px;
        padding-block: 50px;

        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .intro-section {
            

            display: flex;
            flex-direction: column;
            row-gap: 25px;

            .title {
                 margin-top: 20px; 
                 color: white;
            }

            .paragraph {
                text-align: justify;
                padding-right: 10px;
                line-height: 25px;
                font-size: 17px;
                color: white;
               
            }

            .para {
                font-weight: 600px;
                color: white;
                .span {
                    font-size: 17px;
                    font-weight: 800px; 
                    font-weight: bold;
                    color: white;
                   
                }
            }

            .icons {
                display: flex;
                column-gap: 15px;

                .img-div {
                    width: 35px;

                    .img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }

        .right-part {

            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            row-gap: 40px;
            .services {
                margin-top: 50px;
                
                .title {
                    font-size: 25px;
                    color: white;
                }

                .service-links {

                    margin-top: 26px;
                    display: flex;
                    flex-direction: column;
                    color: rgb(198, 198, 198);
                    row-gap: 15px;

                    .footer-links {
                        &:hover {
                            color: rgb(52, 52, 227);
                        }
                    }
                }
            }

            .resources {
                .title {
                    font-size: 25px;
                    color: white;
                }

                .resource-links {

                    margin-top: 26px;
                    display: flex;
                    flex-direction: column;
                   
                    row-gap: 15px;
                    color: rgb(217, 216, 216);

                    .footer-links {
                        &:hover {
                            color: rgb(52, 52, 227);
                        }
                    }
                }
            }
        }


    }

    .footer-copyright {
        display: flex;
        margin: 0;
        justify-content: center;
        background-color: #181818;
        padding: 0;
        text-align: center;
        padding: 20px 0px;
        color: white;
    }
}


@media only Screen and (min-width:1026px) {

    .footer-container {

        .footer {
            padding: 40px 40px;
            
            grid-template-columns: 35% 65%;
            justify-content: space-between;
            column-gap: 85px;

            
            .intro-section{
                row-gap: 40px;

                .paragraph{
                    line-height: 32px;
                }
            }

           .right-part{
            
            grid-template-columns: repeat(3, 1fr);
            grid: 2;

            .services{
                margin-top: 0;
            }
           }
        }

    }
}